# Local Folders
logs/
resources/
volumes/
traefik/
# Exception
!clowder/volumes/clowder/custom/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Environments
.env
.venv
